<% content_for :body do %>
  <div id="contact-form">
    <section class="grid_3">
      <%= image_tag( ( 'cooking-tools.png' ), :class => "contact-tools" )%> 
    </section>
    <section class="grid_6">
      <%= raw @page.content_for(Refinery::Pages.default_parts.first.to_sym) if Refinery::Pages.default_parts.any? %>
      
      <div class='inquiries'>
        <%= form_for [refinery, :inquiries, @inquiry] do |f| %>
          <%= render :partial => "/refinery/admin/error_messages",
                     :locals => {
                       :object => @inquiry,
                       :include_object_name => true
                     } %>
          <div class="field name grid_6">
            <%= f.text_field :name, :class => 'text', :required => 'required', :placeholder => "Your Name" if Refinery::Inquiries.show_placeholders  %>
          </div>
          <div class="field email grid_6">
            <%= f.email_field :email, :class => 'text email', :required => 'required', :placeholder => "Your Email Address" if Refinery::Inquiries.show_placeholders %>
          </div>
          <div class='field message_field grid_12'>
            <%= f.text_area :message, :rows => 8, :required => 'required',
              :placeholder => t('message', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders %>
          </div>
          <div class="submit">
            <%= f.submit "Send now" %>
          </div>
        <% end %>
      </div>
    </section>
    <section class="grid_3">
      <%= image_tag( ( 'mugs.png' ), :class => "contact-mugs" )%>
    </section>
  </div>
<% end %>

<%= render "/refinery/content_page" %>
